<?xml version="1.0" encoding="utf-8"?>
<!--【Project视图下多module归类合并】
：https://landchanning.github.io/2016/11/23/android_gradle_archive_module/
(可參考)Manifest merger failed : Attribute application@theme
：https://stackoverflow.com/questions/41302694/manifest-merger-failed-attribute-applicationtheme
(可參考)如何解決 = 清單合併失敗：針對 Android 12 及更高版本的應用程式需要為「android:exported」指定明確值？
：https://stackoverflow.com/questions/74022790/how-to-solve-manifest-merger-failed-apps-targeting-android-12-and-higher-are-->
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS"/>
    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Gym_app"
        tools:targetApi="31">
        <activity
            android:name=".ClassMap"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Navigation"
            android:exported="true" />
    </application>

</manifest>