<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-feature
        android:name="android.hardware.camera"
        android:required="false" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission
        android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        tools:ignore="ScopedStorage" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Gym_app"
        tools:targetApi="31">

        <!-- User and Coach Activities -->
        <activity
            android:name=".User_And_Coach.Map.Direction"
            android:exported="false" />
        <activity
            android:name=".User_And_Coach.Map.View"
            android:exported="false" />
        <activity
            android:name=".User_And_Coach.UI.CameraActivity"
            android:exported="false" />
        <activity
            android:name=".User_And_Coach.UI.Contact"
            android:exported="false" />
        <activity
            android:name=".User_And_Coach.UI.AIInteractive"
            android:exported="false" />

        <!-- Coach Activities -->
        <activity
            android:name=".Coach.Records.Detail"
            android:exported="false" />
        <activity
            android:name=".Coach.Records.All"
            android:exported="false" />
        <activity
            android:name=".Coach.Comments.Coach_Comments"
            android:exported="false" />
        <activity
            android:name=".Coach.Class.ClassAdd"
            android:exported="false" />
        <activity
            android:name=".Coach.Main.Achievement"
            android:exported="false" />
        <activity
            android:name=".Coach.Class.ClassMain"
            android:exported="false" />
        <activity
            android:name=".Coach.Class.ClassEdit"
            android:exported="false" />
        <activity
            android:name=".Coach.Scheduled.ScheduledMain"
            android:exported="false" />
        <activity
            android:name=".Coach.Scheduled.ScheduledAdd"
            android:exported="false" />
        <activity
            android:name=".Coach.Main.CoachHome"
            android:exported="false" />
        <activity
            android:name=".Coach.Main.CoachInfo"
            android:exported="false" />

        <!-- User Activities -->
        <activity
            android:name=".User.Coach.CoachDetail"
            android:exported="false" />
        <activity
            android:name=".User.Coach.CoachList"
            android:exported="false" />
        <activity
            android:name=".User.Records.Confirm"
            android:exported="false" />
        <activity
            android:name=".User.Class.ClassDetail"
            android:exported="true" />
        <activity
            android:name=".User.Class.ClassList"
            android:exported="false" />
        <activity
            android:name=".User.Like.UserLike"
            android:exported="false" />
        <activity
            android:name=".User.Comments.Comments"
            android:exported="false" />
        <activity
            android:name=".User.Main.UserInfo"
            android:exported="false" />
        <activity
            android:name=".User.Records.Appointment"
            android:exported="false" />
        <activity
            android:name=".User.Main.UserHome"
            android:exported="true" />

        <!-- Main Activities -->
        <activity
            android:name=".Main.Identify.Register"
            android:exported="false"
            android:windowSoftInputMode="adjustPan" /> <!-- 畫面自動上移：https://cloud.tencent.com/developer/article/1741756 -->
        <activity
            android:name=".Main.Identify.Login"
            android:exported="false"
            android:windowSoftInputMode="stateVisible|adjustResize" />
        <activity
            android:name=".Main.Initial.Welcome"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- Meta-data -->
        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
        <meta-data
            android:name="com.google.android.gms.ads.APPLICATION_ID"
            android:value="ca-app-pub-5758857104652666~9915647995" />
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyDVic0YITkggqQsWVA4a3tG4MXC-iIvTeY"/>
    </application>

</manifest>